.sidebar {
  flex: 0.14;
  height: 94vh;
  overflow-y: scroll;
  margin-top: 10px;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: #e5e5e5;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 12px;
}

.sidebar__heading {
  font-size: 14px;
  color: #606060;
  padding: 5px 20px;
}
